{% extends "base.html" %}
{% block page_content %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>{{ post.title }}</h2>
            </div>
        </div>

        <div>
            {{ post.created_on.date }} |&nbsp;Categories:&nbsp;

            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}

            <p>{{ post.body | linebreaks }}</p><br>
            <h3>Leave a comment:</h3><br>

            <form action="/blog/{{ post.pk }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.author }}
                </div><br>
                <div class="form-group">
                    {{ form.body }}
                </div><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form><br>

            <h3>Comments:</h3><br>

            {% for comment in comments %}
            <p>
                On {{comment.created_on.date }}&nbsp;
                <b>{{ comment.author }}</b> wrote:
            </p>
            <p>{{ comment.body }}</p>
            <hr>
            {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
