.aside .logo a::before{
	border-top:4px solid #ec1839;
	border-left:4px solid #ec1839;
}

.aside .logo a::after{
	border-bottom:4px solid #ec1839;
	border-right:4px solid #ec1839;
}

.aside .nav li a:hover,
.aside .nav li a:active,
.portfolio .item-inner .item-info .tag a{
	color:#ec1839;
}

.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-link a,
.section-title h2::before,
.section-title h2::after,
.btn,
.about-content .timeline .timeline-item::before,
.about-content .timeline .circle-dot{
	background-color:#ec1839;
}
