{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="section">
    <div class="container">
       	<div class="row">
            <div class="section-title padd-15">
				<h2>{{ project.title }}</h2>
			</div>
		</div>

        <div class="isi-detail">
          <div class="item-gambar"><img src="{% static project.image %}" width="60%"></div>
          <div>

          <div class="item-info">
            <br>
            <h3>About the project:</h3>
            <p class="deskripsi">{{ project.description }}</p>
            <br>
            <h3>Technology used:</h3>
            <p class="deskripsi">{{ project.technology }}</p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
